# Web Framework
fastapi
uvicorn[standard]
python-multipart  # for file uploads

# LangChain & Ecosystem
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq

# Vectorstore
pinecone

# Embeddings
langchain-google-genai
langchain-huggingface
sentence-transformers
# PDF Parsing
PyPDF

# Environment Variables
python-dotenv

# Typing & Utilities
pydantic
requests
tqdm
numpy
loguru